<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="sudoku.css">
    <title>Sudoku Solver</title>
</head>

<body>

    <form name="game-form" method="post">
        <div class="grid-container">
            <div class="grid-item"><input name="cell-0" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-1" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-2" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-3" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-4" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-5" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-6" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-7" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-8" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-9" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-10" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-11" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-12" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-13" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-14" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-15" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-16" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-17" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-18" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-19" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-20" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-21" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-22" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-23" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-24" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-25" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-26" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-27" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-28" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-29" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-30" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-31" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-32" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-33" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-34" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-35" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-36" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-37" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-38" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-39" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-40" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-41" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-42" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-43" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-44" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-45" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-46" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-47" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-48" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-49" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-50" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-51" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-52" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-53" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-54" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-55" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-56" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-57" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-58" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-59" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-60" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-61" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-62" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-63" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-64" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-65" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-66" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-67" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-68" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-69" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-70" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-71" type="text" maxlength="1"></div>

            <div class="grid-item"><input name="cell-72" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-73" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-74" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-75" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-76" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-77" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-78" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-79" type="text" maxlength="1"></div>
            <div class="grid-item"><input name="cell-80" type="text" maxlength="1"></div>
    </form>
</body>
<button name="solveButton">solve</button>
</body>

</html>